header{ 
    width: 600px auto;
    margin: 0 auto;
    height: 100px;
    border-radius: 10px;
    background-color: rgb(27, 156, 199);
    padding: 10px;
}

h1{
    text-align: center;
    font-family: 'Amita', cursive;
    margin: 0 auto;
    color: black;
    font-size: 3.4em;
    line-height: 1em;
}

img{
    display: flex;
    width: 200px; 
    margin: 0 auto;
    border-radius: 5px;
    margin-top: 10px;
}

h2{
   text-align: center;
   font-family: 'Amita', cursive;
   display: flex;
   margin-top: 200px;
   width: auto;
}

body{
    font-family: 'Roboto Mono', monospace;
}

nav ul{
    display: block;
}

p{
    text-align: center;
}
.info{
    margin-top: 0px;
}

footer{
    width: auto;
    padding: 10px;
    height: 100px;
    border-radius: 10px;
    background-color: rgb(27, 156, 199);
    color: black;
    margin: 0 auto;
    text-align: center;
}