@media only screen and (min-width: 60em){

     
    nav { 
        display: flex;
        width: auto;
        height: 40px;
        margin: 0 auto;
        text-align: center;
    }
    nav li { 
        text-align: center; 
    }
    nav li:hover{
        background-color: darkorchid;
        
    }
}