body {
    display: block;
    
    
}

.Gallery{
    width: 300px;
    border: 1px solid black;
    box-shadow: 0px 5px 5px 5px;
}

.Gallery img[data-src] {
    filter: blur(0.2em);
    
}
.Gallery img{
    filter: blur(0em);
    transition: filter 3s;
    
}

h1{
    text-align: center;
    
}