header{
    
    border-radius: 10px;
    max-width: 900px;
    max-height: 150px;
    
    background-color: rgb(27, 156, 199);
    color: black;
    margin-left: auto;
    margin-right: auto;

}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

nav ul{
    
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

h1{
    display: flexbox;
    height: 100px;
    font-size: 60px;
    padding: auto;
    text-align: center;
}

p{
    text-align: center;
    text-justify: center;
    margin-left: auto;
    margin-right: auto;
}

footer{

    width: 900px;
    height: 50px;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(27, 156, 199);
    color: black;
    margin-left: auto;
    margin-right: auto;
}