header{
    display: flexbox;
    max-width: 900px;
    max-height: 150px;
    border-radius: 10px;
    
    text-align: left;
    background-color: rgb(27, 156, 199);
    color: black;
    margin-left: auto;
    margin-right: auto;

}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

nav ul{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

h1{
    display: grid;
    font-size: larger;
    padding: auto, 20;
}

p{
    text-align: center;
    text-justify: center;
    margin-left: auto;
    margin-right: auto;
}

footer{

    width: 900px;
    height: 50px;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(27, 156, 199);
    color: black;
    margin-left: auto;
    margin-right: auto;
}