header{
    width:600;
    height: 100;
    padding: 20;
    text-align: center;
    text-justify: center;
    background-color: rgb(27, 156, 199);
    color: black;
    margin-left: auto;
    margin-right: auto;

}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

nav ul{
    margin-left: auto;
    margin-right: 300;
    text-align: center;
    text-justify: center;
}



footer{
    width: 200;
    height: 70;
    text-align: center;
    text-justify: center;
    background-color: rgb(27, 156, 199);
    color: black;
    margin-left: auto;
    margin-right: auto;
}