header{
    border-radius: 10px;
    width: 100%;
    height: 150px;
    background-color: rgb(20, 20, 240);
    color: rgb(241, 241, 241);
    margin: 0 auto;
    
}

h1{
    height: 70px;
    text-align: center;
    font-size: 33px;
    line-height: 1.2em;
    font-family: 'Amita', cursive;   
}

h2{
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    margin-top: 40px; 
}

h4{
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    padding: 5px;
}

body{
    margin: 0 auto;
}

article{
    margin-top: 10px;
    background-color: rgb(32, 32, 238);
}

.card1, .card2, .card3{
    width: 100%;
    box-shadow: 1px 1px 5px;
    border-radius: 10px;
    font-family: Helvetica, sans-serif;
    border-radius: 10px;  
}

p{
    text-align: center;
    line-height: 1.4em;
    font-family: Helvetica, sans-serif;
}

img{
    
    max-width: 95%;
    box-shadow: black;
    padding: 10px;
    border-radius: 20px;
    margin-top: 10%;
}

footer{

   
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(8, 100, 248);
    color: black;
    margin: 0 auto;
    margin-top: 10px;
}
