
header{
    display: flex;
    
}

img {
    width: 20px auto;
    height: auto;
}

nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: white;
}

nav {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#cecece+0,444444+100 */
background: #cecece; /* Old browsers */
background: -moz-linear-gradient(top, #cecece 0%, #444444 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #cecece 0%,#444444 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #cecece 0%,#444444 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cecece', endColorstr='#444444',GradientType=0 ); /* IE6-9 */
}

nav ul {

    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: whitesmoke;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}

nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

nav ul li.active a{
    background-color: rgba(0, 0, 0, 0.2); 
    color: #fff;
}

nav ul li.hide {
    display: none;
}

.topics, h2{
    border: 1px solid black;
    padding: 10px;
    max-width: 760px;
    margin: 0 auto;
    align-items: center;
    text-align: center;
}



footer{
    padding-top: 5px;
    padding-bottom: 5px;
    background-color:cornflowerblue;
    margin-top: 10px;
    font-size: 1.2em;

}


/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }












