@media only screen and (min-width: 60rem) {

    nav{
        
       /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#cecece+0,444444+100 */
        background: #cecece; /* Old browsers */
        background: linear-gradient(to bottom, #cecece 0%,#444444 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    }
    
    nav button{
        display: none;
    }

    nav ul {
        text-align: center;
    }
    .weather{
        margin-left: 2%;
        float: left;
        
    }

    nav ul li {

        float: left;
    }

    nav ul.hide {
        display: block;
    }

    nav ul li a {
        border: none;
        border-right: 1px solid rgba(0,0,0,0.3);
        padding: .8rem 1rem;
    }
    
    .Forecast{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        width: 100%;
        margin: 0 auto;
        height: 250px;
        text-align: center;
    }
    
    .Forecast h2{
        display: grid;
        grid-column: 1/8;
        grid-row: 1;
        padding: 10px;
        
    }

.Forecast p{

    display: grid;
    grid-column: 1/8;
    grid-row: 2;
    width: 80px;
    height: 150px;
    margin: 0 auto;
    border: 1px solid black;
    border-right: 1px solid black;
    padding: 10px;
    font-size: 1.3rem;
    background-color: lightgrey;
    box-shadow: 0 0 3px white;
    }
    
    
    footer{
        text-align: center;
    }

    .Gallery{

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 0 auto;
    }
    .Gallery figure:hover{
        box-shadow: 0px 0px 30px brown;
    }

    figcaption{
        display: block;
        text-align: center;
        padding: 10px;
        font-size: 1.4rem;
    }

    /*-------Homepage-----------*/
    .cards{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        max-height: 750px;
        
    }
    .cards section {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        
    }

    .cards section:nth-child(even) img {
        grid-column: 1;
        grid-row: 1;
        max-width: 350px;
    }

    .cards section:nth-child(even) h2,h4,p {
        grid-column: 1;
        grid-row: 2;
        display: flexbox;
        flex-direction: column;
        
        
    }
    
    .cards section:nth-child(odd) img {
        grid-column: 1;
        grid-row: 1;
    }
    
    .cards section:nth-child(odd) h2,h4,p {
        grid-column: 1;
        grid-row: 2;
        line-height: .75rem;
       
    }
}
