/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

header{
    display: flex;
}

img {
    width: 20px auto;
    height: auto;
}

nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: white;
}

nav {
    
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ff0000+0,8e2d00+100 */
    background: #ff0000; /* Old browsers */
    background: -moz-linear-gradient(top,  #ff0000 0%, #8e2d00 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #ff0000 0%,#8e2d00 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #ff0000 0%,#8e2d00 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0000', endColorstr='#8e2d00',GradientType=0 ); /* IE6-9 */

    

}

nav ul {

    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: rgba (255, 255, 255, 0.8);
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}

nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

nav ul li.active a{
    background-color: rgba(0, 0, 0, 0.2); 
    color: #fff;
}

nav ul li.hide {
    display: none;
}


/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }











