main{
    
    margin-top: -10px;
    background-color: lightslategray;
}  
    h1{
    color: #5c5cac;
    text-align: center;
    font-family: Heebo Serif, serif;
    margin-top: 10px;
}
.cards{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 3px;
    padding: 15px;
   
}
section{
    background-color: #b9b9ca;
    border: #9797b7 solid 2px;
}
img{
    display: block;
    width: 250px;
    height: 300px;
    margin: auto auto 25px auto;
    box-shadow: rgb(49, 49, 49) 0 0 15px;
}
h2{
    text-align: center;
    color: #4e4e91;
    line-height: .75em;
    font-family: Bree Serif, serif;
    font-weight: lighter;
}
p{
    text-align: center;
    line-height: .3em;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
}
footer{
    font-family: Helvetica, sans-serif;
    margin: 10px;
    text-align: center;
}
@media only screen and (min-width: 32.5em){

    .cards{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
       
}

@media only screen and (min-width: 60rem) {

    .cards{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

}